{% extends "layout.html.twig" %}

{% block title "Abstract Babel" %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1 class="header center-align">Abstract Babel</h1>
        </div>
    </div>

    <div class="row">
        <form action="/" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="doi" value="{{ doi|default('') }}" id="doi" class="validate" />
                    <label for="doi">Doi</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="from" value="{{ from|default('en') }}" id="from" class="validate" />
                    <label for="from">Source language</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="to" value="{{ to|default('fr') }}" id="to" class="validate" />
                    <label for="to">Target language</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light z-depth-2" type="submit">Translate
                        <i class="material-icons left">translate</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="abstract" name="abstract" disabled="disabled" class="materialize-textarea disabled">{{ abstract|default('') }}</textarea>
                    <label for="abstract">Abstract</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="translation" name="translation" disabled="disabled" class="materialize-textarea disabled">{{ translation|default('') }}</textarea>
                    <label for="translation">Translation</label>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="assets/css/home.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/home.js"></script>
{% endblock %}
